language: generic
os:
    - linux

git:
    depth: 5

env:
    matrix:
        - CXX="g++5" CC="gcc-5"
        - CXX="g++6" CC="gcc-6"
        - CXX="clang++-3.8" CC="clang-3.8"

before_install:
    - export COMPILERS="CC=$CC CXX=$CXX"
    - sudo apt-get update
    - sudo apt-get install build-essential
    - sudo apt-get install llvm
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y --force-yes
    - sudo add-apt-repository "deb http://llvm.org/apt/precise/ llvm-toolchain-precise main" -y --force-yes
    - sudo add-apt-repository "deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.8 main" -y --force-yes
    - sudo apt-get update
    - sudo apt-get install -qq $CXX

script:
    - ./build.sh ${COMPILERS} -nohtml -notests
