sudo: required
dist: precise
language: cpp
os:
    - linux

git:
    depth: 5

addons:
    apt:
        sources:
        - george-edison55-precise-backports
        packages:
        - cmake
        - cmake-data

env:
    matrix:
        - COMPILER=g++-4.9 PACKAGE=g++-4.9 LLVM_VERSION=0
        - COMPILER=g++-5 PACKAGE=g++-5 LLVM_VERSION=0
        - COMPILER=g++-6 PACKAGE=g++-6 LLVM_VERSION=0
        - COMPILER=clang++-3.6 PACKAGE=clang-3.6 LLVM_VERSION=3.6
        - COMPILER=clang++-3.8 PACKAGE=clang-3.8 LLVM_VERSION=3.8

before_install:
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - if [ ${LLVM_VERSION} != 0 ]; then sudo add-apt-repository "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-${LLVM_VERSION} main" ; fi

install:
    - sudo apt-get update -qq
    - sudo apt-get -yq --no-install-suggests --no-install-recommends --force-yes install ${PACKAGE}

script:
    - mkdir build
    - cd build
    - cmake -DCMAKE_CXX_COMPILER=$COMPILER .. && make
    - cd ..
    - ./bin/tests
