language: generic
os:
    - linux

git:
    depth: 5

env:
    matrix:
        - CXX="g++5" CC="gcc-5"
        - CXX="g++6" CC="gcc-6"
        - CXX="clang++-3.8" CC="clang-3.8"

before_install:
    - export COMPILERS="CC=$CC CXX=$CXX"
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-get update
    - sudo apt-get install -qq $CXX

script:
    - ./build.sh ${COMPILERS} -nohtml
