language: generic
os:
    - linux

git:
    depth: 5

env:
    matrix:
        - CXX="g++-5" CC="gcc-5" COV=1 GCOV="gcov-5"
        - CXX="g++-6" CC="gcc-6" COV=0
        - CXX="clang++-3.8" CC="clang-3.8" COV=0

before_install:
    - export COMPILERS="CC=$CC CXX=$CXX"
    - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
    - sudo apt-key update
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo add-apt-repository "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-3.8 main"
    - sudo apt-get update -qq
    - sudo pip install cpp-coveralls

install:
    - sudo apt-get --allow-unauthenticated -qq --assume-yes install $CXX lldb-3.8
    #- sudo update-alternatives --install /usr/bin/gcov gcov /usr/bin/gcov-5 90

script:
    - ./build.sh ${COMPILERS} -nohtml -notests

after_success:
    - if [ ${COV} = 1 ]; then bash <(curl -s https://codecov.io/bash) -x $GCOV -a "-s `pwd`" || echo "Codecov failed" ; fi
