language: generic
os:
    - linux

git:
    depth: 5

env:
    matrix:
        - CXX="g++5" CC="gcc-5"
        - CXX="g++6" CC="gcc-6"
        - CXX="clang++-3.8" CC="clang-3.8"

before_install:
    - export COMPILERS="CC=$CC CXX=$CXX"
    - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
    - sudo apt-key update
    - sudo apt-get update
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo apt-add-repository "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-3.8 main"
    - sudo apt-key update
    - sudo apt-get update
    - sudo apt-get -qq --assume-yes install $CXX lldb-3.8

script:
    - ./build.sh ${COMPILERS} -nohtml -notests
