sudo: required
dist: precise
language: cpp

os:
    - linux

git:
    depth: 5

env:
    matrix:
        - COMPILER=g++-4.9 PACKAGE g++-4.9 COMPILER_C=gcc_4.9
        - COMPILER=g++-5 PACKAGE=g++-5 COMPILER_C=gcc-5
        - COMPILER=g++-6 PACKAGE=g++-6 COMPILER_C=gcc-6
        - COMPILER=clang++-3.6 PACKAGE=clang-3.6 COMPILER_C=clang-3.6
        - COMPILER=clang++-3.9 PACKAGE=clang-3.9 COMPILER_C=clang-3.9

before_install:
    - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
    - sudo add-apt-repository "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-3.6 main"
    - sudo add-apt-repository "deb http://apt.llvm.org/precise/ llvm-toolchain-precise-3.9 main"
    - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -

install:
    - mkdir cmake && cd cmake
    - curl -sSL https://cmake.org/files/v3.6/cmake-3.6.1-Linux-x86_64.sh -o install-cmake.sh
    - chmod +x install-cmake.sh
    - sudo ./install-cmake.sh --prefix=/usr/local --skip-license
    - cd ..
    - sudo apt-get update -qq
    - sudo apt-get -yq --no-install-suggests --no-install-recommends --force-yes install ${PACKAGE} libllvm3.9 llvm-3.9 llvm-3.9-dev

script:
    - mkdir build
    - cd build
    - cmake -G "Unix Makefiles" -DCMAKE_CXX_COMPILER=$COMPILER -DCMAKE_C_COMPILER=$COMPILER_C -DLLVM_DIR=/usr/lib/llvm-3.9 ..
    - make -j2
    - cd ..
    - ./bin/tests
