version: 1.0.{build}

os: Visual Studio 2015

platform:
    - Win32
    - x64

environment:
    MSVC_DEFAULT_OPTIONS: ON
    BOOST_ROOT: C:\libraries\boost_1_58_0
    BOOST_LIBRARYDIR_WIN32: C:\libraries\boost_1_58_0\lib32-msvc-14.0
    BOOST_LIBRARYDIR_WIN64: C:\libraries\boost_1_58_0\lib64-msvc-14.0

configuration:
    - Debug
    - Release

init:
    - cmd: cmake --version
    - cmd: msbuild /version

clone_folder: C:\projects\varuna

before_build:
    - cmd: cd C:\projects\varuna
    - cmd: md build
    - cmd: cd build

    - cmd: if "%platform%"=="Win32" cmake -G "Visual Studio 14 2015" -DCMAKE_BUILD_TYPE=%configuration% -DBOOST_ROOT=%BOOST_ROOT% -DBOOST_LIBRARYDIR=%BOOST_LIBRARYDIR_WIN32% ..

    - cmd: if "%platform%"=="x64" cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=%configuration% -DBOOST_ROOT=%BOOST_ROOT% -DBOOST_LIBRARYDIR=%BOOST_LIBRARYDIR_WIN64% ..

build:
    project: C:\projects\varuna\build\varuna.sln
    parallel: true
    verbosity: normal
