version: 1.0.{build}

os: Visual Studio 2015

platform:
    - Win32
    - x64

environment:
    MSVC_DEFAULT_OPTIONS: ON

configuration:
    - Debug
    - Release

init:
    - cmd: cmake --version
    - cmd: msbuild /version

clone_folder: C:\projects\varuna

before_build:
    - cmd: cd C:\projects\varuna
    - cmd: md build
    - cmd: cd build
    - cmd: dir C:\Program Files\LLVM
    - cmd: dir C:\Program Files\LLVM\bin

    - cmd: if "%platform%"=="Win32" cmake -G "Visual Studio 14 2015" -DCMAKE_BUILD_TYPE=%configuration% -DLLVM_DIR="C:\Program Files\LLVM\bin" ..

    - cmd: if "%platform%"=="x64" cmake -G "Visual Studio 14 2015 Win64" -DCMAKE_BUILD_TYPE=%configuration% -DLLVM_DIR="C:\Program Files\LLVM\bin" ..

build:
    project: C:\projects\varuna\build\varuna.sln
    parallel: true
    verbosity: normal
